name: Build & Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  spm:
    name: SwiftPM build and test
    runs-on: macos-13
    steps:
    - run: |
        sudo xcode-select -s /Applications/Xcode_15.0.app
    - uses: actions/checkout@v3
    - name: Build swift packages
      run: swift build -v
    - name: Run tests
      run: swift test -v
  carthage:
    name: Xcode project build and test
    runs-on: macos-13
    steps:
    - run: |
        sudo xcode-select -s /Applications/Xcode_15.0.app
    - uses: actions/checkout@v3
    - name: Build xcode project
      run: xcodebuild build -scheme 'SubprocessMocks' -derivedDataPath .build
    - name: Run tests
      run: xcodebuild test -scheme 'Subprocess' -derivedDataPath .build
  cocoapods:
    name: Pod lib lint
    runs-on: macos-13
    steps:
    - run: |
        sudo xcode-select -s /Applications/Xcode_15.0.app
    - uses: actions/checkout@v3
    - name: Lib lint
      run: pod lib lint --verbose Subprocess.podspec
